html {
    height: 100%;
    width: 100%;
    min-width: 637px;
    color: #000;
    text-decoration: none;
    font-family: "Noto Sans KR";
}
body{
    word-break: keep-all;
    margin: 0;
}
li, ol, ul, a{
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
}
button{
    border: 0;
    padding: 0;
}
dl{
    margin-block-start: 0;
    margin-block-end: 0;
}
dd{
    margin-inline-start: 0;
}
address{
    font-style: normal;
}
.main-wrap {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    color: #333;
    letter-spacing: -0.05em;
}

/*============================== header ============================== */

.header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    justify-content: space-evenly;
    align-items: center;
    height: 95px;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    z-index: 10;
    transition: transform 0.2s ease-in-out;
}
.header.hide {
    transform: translateY(-100%); /* 헤더를 위로 숨김 */
    transition: transform 0.2s ease-in-out;
}
.header-inner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*padding-right: 2rem;*/
    padding-left: 2rem;
    max-width: 1440px;
    height: 100%;
}
.header-inner > h1{
    flex: none;
}
.header-logo{
    display: inline-block;
    letter-spacing: -.3px;
    font-weight: 700;
    color: #000;
    font-size: 2rem;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.header-menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
}
.header-menu > li{
    margin: 0 0.75rem;
}
.header-menu >li > a{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
}
.header-menu >li > a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -36px;
    width: 100%;
    height: 3px;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.35s ease-out;
}
.header-menu > li a:hover:after,
.header-menu > li.active a:after {
    opacity: 1;
}
.header-menu >li.active a,
.header-menu >li a:hover{
    color: coral;
}
.header-util{
    display: flex;

}
.header-family{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2rem;
}
.header-family > a {
    margin-right: 0.75rem;
}
.header-family > a > span{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}
.header-family > li {
    margin-left: 1rem;
}

/*============================== main ==============================*/

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-faq{
    position: relative;
}
.faq-title{
    font-size: 1.875rem;
    margin-bottom: 30px;
    line-height: 1;
    letter-spacing: -.78px;
    text-align: center;
}
form{
    margin: 0;
}
.faq-search{
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}
.invisible{
    display: none;
}
.faq-search input[type=search]{
    width: 100%;
    height: 60px;
    line-height: 70px;
    padding: 0 64px 0 15px;
    font-size: 1rem;
    border: 2px solid #c4c4c4;
}
input::placeholder{
    font-family: "Noto Sans KR";
}
.faq-search .material-symbols-outlined {
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
}
.faq-content{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 30px;
}
.faq-count{
    margin-bottom: 1rem;
    font-size: 0.813rem;
    letter-spacing: -.3px;
}
.faq-list{
    border-top: 1px solid #ebebeb;
}
.faq-list ul {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 3.5rem;
    /*background-color: #acacac;*/
}
.faq-list dt:before {
    content: "";
    position: absolute;
    top: 34px;
    left: 15px;
}
.faq-list li {
    position: relative;
    padding: 2.5rem 2rem 0 3.625rem;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: -.18px;
    word-break: break-all;
}
.faq-list li+li {
    padding: 1rem 2rem 0 3.625rem;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.69;
    letter-spacing: -.18px;
    color: #4a4a4a;
    white-space: pre-line;
    /*word-break: break-all;*/

    display:-webkit-box;
    word-wrap:break-word;
    -webkit-line-clamp:6;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
}
.paging{
    /*margin: 0 auto;*/
    margin-top: 85px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

/*============================== footer ==============================*/

.footer-wrap{
    position: relative;
    max-width: 1200px;
    margin: 80px auto 0;
}
/* 890px 미만 반응형 추가 예정 */
.footer-util{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    padding: 22px 0 0;
    font-size: 0.813rem;
    border-top: 1px solid #ebebeb;
}
.footer-menu{
    display: flex;
}
.footer-menu li {
    position: relative;
}
.footer-menu li a {
    line-height: 1.5;
    font-weight: 400;
    display: inline-block;
    letter-spacing: -.3px;
    vertical-align: top;
    text-align: center;
}
.footer-menu li+li {
    margin-left: 0.625rem;
    padding-left: 0.688rem;
}
.footer-menu li+li:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 1px;
    height: 11px;
    background-color: #ebebeb;
}
.footer-util .copy {
    padding: 19px 0 11px;
    color: #777;
    letter-spacing: -.5px;
}
.footer-menu address {
    padding-bottom: 20px;
    font-weight: 300;
}
.footer-social{
    /*position: absolute;*/
    /*right: 65px;*/
    /*top: 22px;*/
}
ion-icon{
    font-size: 1.5rem;
    opacity: 0.5;
}
.footer-social ul{
    display: flex;
}
.footer-social li{
    margin-left: 12px;
}
.footer-social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #f5f5f5;
}



